<?xml version="1.0" encoding="UTF-8"?>
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" backupGlobals="true" colors="true" failOnDeprecation="true" failOnNotice="true" failOnWarning="true" bootstrap="tests/bootstrap.php" xsi:noNamespaceSchemaLocation="vendor/phpunit/phpunit/phpunit.xsd" cacheDirectory=".phpunit.cache">
  <source ignoreIndirectDeprecations="true">
    <include>
      <directory>./src/</directory>
    </include>
  </source>
  <testsuites>
    <testsuite name="Symfony Flex Test Suite">
      <directory>./tests</directory>
    </testsuite>
  </testsuites>
  <php>
    <ini name="error_reporting" value="-1"/>
  </php>
</phpunit>
